/* -------------------------------------------

Name: 		Arter
Version:  1.0
Author:		Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). mail: miller.themes@gmail.com

------------------------------------------- */

/*--------------------------------------------

1. common
      - fonts
      - text defaults
      - title defaults
      - text config
      - container
      - buttons frame
      - suptitle
      - divider
      - image defaults
      - link defaults
      - table
      - quote
      - list
2. link
3. buttons
4. space
5. app marcup
      - top background
      - preloader
      - scroll frame
      - app
      - mobile top bar
      - info bar
      - content
      - menu bar
      - marcup media queries
6. info bar
      - header
      - name
      - language skills
      - hard skills
      - knowledge
      - info bar links
      - social links
      - progresbar color
7. menu bar
      - main menu
      - language change
      - current page title
8. content
      - section title
      - card
      - banner
      - typing code
      - counters
      - services
      - price
      - testimonials
      - timeline
      - contact form
      - blog
      - pagination
      - brands
      - footer
9. portfolio
      - filter
      - portfolio items
      - touch device querie
      - single project
      - fancybox customization
10. media queries
11. burger button
12. transitions
      - in animation
      - out animation


--------------------------------------------*/

@import 'config';
@import 'common';
@import 'markup';
@import 'info-bar';
@import 'menu-bar';
@import 'content';
@import 'burger';
@import 'transitions';

/* --- Estilos Personalizados para Efecto Hover en Tarjetas --- */

// Estado normal de la tarjeta
.art-service-icon-box {
  transition: all 0.3s ease-in-out;
}

// Estado de la tarjeta cuando el cursor está encima
.art-service-icon-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.2);
}

/* --- Estilos para el Preloader con Efecto de Tipeo --- */

#preloader-subtitle {
  opacity: 0; /* Oculto al inicio */
  transition: opacity 0.8s ease; /* Transición suave para aparecer */
  font-size: 15px;
  color: #8c8c8e;
}

.art-code-style {
  font-family: 'Courier New', Courier, monospace; /* Fuente de tipo código */
  display: inline-block;
  font-size: 22px;
}

/* Animación del cursor parpadeante */
.typing-cursor {
  border-right: 3px solid var(--main-color); 
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* --- Estilos para ocultar el Preloader --- */

.art-preloader.art-preloader-hidden {
  opacity: 0;
  visibility: hidden; /* Lo hace invisible y no interactuable */
  transition: all 0.8s ease-in-out; /* Transición suave de 0.8s */
}

